<h3>Add New Item/ Edit Item</h3>
<p>
  Theme: <strong>{{ activeTheme }}</strong>
  <button (click)="toggleTheme()">Toggle Dark Mode</button>
</p>
<p [ngStyle]="themeStyles">NG STYLE</p>
<p [ngClass]="themeClass">NG CLASS</p>
<form [formGroup]="itemForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="name">Name</label>
    <input id="name" type="text" formControlName="name" />
  </div>
  <div class="form-group">
    <label for="description">Description</label>
    <input id="description" type="text" formControlName="description" />
  </div>
  <div class="form-group">
    <label for="price">Price</label>
    <input id="price" type="number" formControlName="price" />
  </div>
  <div class="form-group">
    <label for="imageUrl">Image Url</label>
    <input id="imageUrl" type="text" formControlName="imageUrl" />
  </div>
  <button type="submit" [disabled]="itemForm.invalid">Submit</button>
</form>
